@tailwind base;
@tailwind components;
@tailwind utilities;




input[type="checkbox"] {
    display: none;
}

.custom-checkbox {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid #828282;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
}

.custom-checkbox svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.1s;
}



input[type="checkbox"]:checked + .custom-checkbox svg {
    opacity: 1;
}